<div>
    <h2>Bienvenido {{#if user.rol}}Administrador{{/if}} {{user.first_name}}</h2>
    {{#each products}}
        <p> {{this.title}}: {{this.price}}$----ID:{{this._id}}----<button>Añadir al carrito</button>
        {{#if ../user.rol }}------<button> Modificar </button>{{/if}}</p>
    {{/each}}
    {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}{{#if sort}}&sort={{sort}}{{/if}}{{#if query}}&query={{query}}{{/if}}{{#if stock}}&stock={{stock}}{{/if}}"><button>Anterior</button></a>
    {{/if}}

    {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}{{#if sort}}&sort={{sort}}{{/if}}{{#if query}}&query={{query}}{{/if}}{{#if stock}}&stock={{stock}}{{/if}}"><button>Siguiente</button></a>
    {{/if}}
</div>